
/* ----------------------------------- */
/* Utilities */
/* ----------------------------------- */

.u-invisible {
  width:0;
  height:0;
  overflow:hidden;
}

.u-remove {
  display: none;
}

.u-img-full {
  width: 100%;
  height: auto;
  display: block;
}

.u-list-reset {
  list-style-type: none;
  padding: 0;
}
