.c-header {
  // padding: 0.5rem;
  font-family: var(--heading-font-family);
  border-bottom: 2px solid var(--text);
  padding-bottom: 0.5rem;
}

.c-header__date {
  margin-bottom: 0;
}

.c-header__rss {
  display: flex;
  justify-content: space-between;
}

.c-header__rss-icon {
  font-size: var(--mega-font-size);
  text-align: right;
}
