.c-tags {

}

.c-tags__title {
  font-size: var(--smaller-font-size);
}


.c-tags__list {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.c-tags__item {
  margin-right: 0.5rem;
}

.c-tags__link {

}

.c-tags__prefix {
  color: #7e7e7e;
}
